{
    # Enable automatic HTTPS
    # email your-email@example.com
}

peoples-court-api.{$DOMAIN_NAME} {
    reverse_proxy peoples_court_api:8000
    
    header {
        Access-Control-Allow-Origin "https://peoples-court.vercel.app/"
        Access-Control-Allow-Methods "GET, POST, OPTIONS"
        Access-Control-Allow-Headers "Content-Type, Authorization, X-API-Key"
    }
}
